@charset "utf-8";

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: #333;
}

header {
  text-align: center;
  background-color: #cdbbff;
  color: #2c2c2c;
  padding: 20px;
}

header h1 {
  margin: 0;
}

.bio, .skills, .contact {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}